@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  /* padding-top: 80px; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: unset;
}

input {
  background-color: transparent;
  border: unset;
  outline: none;
}

span {
  margin: unset;
}

h2 {
  font-size: 2.2rem;
  font-weight: 700;
}

h5 {
  font-size: 1.6rem;
  font-weight: 700;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.ReactTooltip {
  padding: unset !important;
  border: unset !important;
  /* justify-content: space-between; */
}

.one-line-max {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.filter-green {
  filter: drop-shadow(rgb(58, 182, 107) 1px 0px 1px)
    drop-shadow(rgb(58, 182, 107) -1px 0px 1px)
    drop-shadow(rgb(58, 182, 107) 0px 1px 1px)
    drop-shadow(rgb(58, 182, 107) 0px -1px 1px);
}

.filter-red {
  filter: drop-shadow(rgb(214, 91, 46) 1px 0px 1px)
    drop-shadow(rgb(214, 91, 46) -1px 0px 1px)
    drop-shadow(rgb(214, 91, 46) 0px 1px 1px)
    drop-shadow(rgb(214, 91, 46) 0px -1px 1px);
}

/* Input ranger */
.input-ranger-custom {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 3px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  cursor: pointer;
}

.input-ranger-custom:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.input-ranger-custom::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  border-radius: 100%;
  background: white; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.input-ranger-custom::-moz-range-thumb {
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  border-radius: 100%;
  background: white; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/* baned img hint */
.baned {
  background-image: linear-gradient(
    to right bottom,
    transparent calc(50% - 2px),
    rgb(210, 0, 0) calc(50% - 2px),
    rgb(210, 0, 0) calc(50% + 2px),
    transparent calc(50% + 2px)
  );
}

/* React-select */

/* End React-select */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
